* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button img {
  padding: 0 !important;
}

.conteiner {
  width: 100%;
  background-color: white;
  font-family: "Yellowtail", cursive;
  font-size: 25px;
  color: rgb(126, 182, 147);
}

.aboutUs-item {
  display: flex;
  flex-direction: row;
  margin: 10% 13% 0 2%;
  background-color: white;

}

.wrapper__img {
  width: 100%;
}

.aboutUs-item .wrapper__content {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.aboutUs-item .wrapper__content_title {
  width: 80%;
  font-size: 45px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: rgb(39, 76, 91);
}

.aboutUs-item .wrapper__content_text {
  margin-top: 5%;
  font-size: 14px;
  font-family: 'Open Sans';
  font-weight: 400;
  color: rgba(82, 92, 96, 1);
  line-height: 29px;
}

.aboutUs-item .wrapper__content_icons {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: rgb(39, 76, 91);
  line-height: 29.3px;
}

.icons {
  width: 8%;
}

.iconsSecond {
  margin-left: 15%;
}

.wrapper__content_icons_text {
  padding-left: 2%;
  line-height: 20px;
}

.aboutUs-item .button {
  margin-top: 5%;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  line-height: 23.44px;
  background-color: rgb(39, 76, 91);
  width: 145px;
  height: 50px;
  border-radius: 10px;
  border: none;
}

.aboutUs-item .button .vector {
  width: 10%;
  padding-top: 5%;
}


.choose-item {
  background-color: #F9F8F8;
  width: 100%;
  height: 100%;
  padding: 7% 10% 5% 10%;
  margin: 5% 0 5% 0;
}

.choose-item_text {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.choose-item_content {
  padding-right: 1%;
}

.choose-item_content_title {
  font-size: 45px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: rgb(39, 76, 91);
}

.choose-item_content_text,
.choose-item_content_text-description,
.circle {
  font-size: 14px;
  font-family: 'Open Sans';
  font-weight: 400;
  color: rgba(82, 92, 96, 1);
  line-height: 29px;
}

.circle-img {
  width: 5%;
}

.choose-item_content_text {
  padding-left: 10%;
}

.circle-content {
  width: 50%;
  height: 50px;
  border-radius: 40px;
  background-color: #ECECEC;
  padding: 3%;
  margin-top: 5%;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: rgba(39, 76, 91, 1);
}

.choose-item_text_img {
  width: 49%;
}

.choose-item_icons {
  display: flex;
  flex-direction: row;
  margin: 5% 5% 5% 5%;
}

.choose-item_icons_title {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: rgb(39, 76, 91);

}

.item_policy,
.item_fresh,
.item_support,
.item_secured {
  width: 250px;
  height: 250px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  margin-right: 3%;
  padding: 0 2%;
}

.icon_policy,
.icon_fresh,
.icon_support,
.icon_secured {
  width: 35%;
  margin: 20% 33% 5% 33%;
}

.team-item {
  text-align: center;
  background-color: white;
}

.team-item-title {
  font-size: 45px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: rgb(39, 76, 91);
}

.team-item-text {
  width: 55%;
  margin: auto;
  padding: 1% 0;
  font-size: 14px;
  font-family: 'Open Sans';
  font-weight: 400;
  color: rgba(82, 92, 96, 1);
  line-height: 29px;
}

.team-item-experts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10% 0 10%;
}

.teamFirst,
.teamSecond,
.teamThird {
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.team-item-experts1:hover {
  background: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0px 20px 15px 0px rgba(0, 0, 0, 0.5);
}

.team-img {
  width: 100%;
}

.teamFirst,
.teamThird,
.teamSecond {
  background-color: #F9F8F8;
  border-radius: 20px;
}

.teamSecond {
  margin: 0 2%;
}

.name {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: rgb(39, 76, 91);
  padding: 6% 0 0 6%;
}

.name-description {
  font-size: 18px;
  padding: 0 6% 5% 6%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.offerForYou-item {
  background-color: rgba(39, 76, 91, 1);
  text-align: center;
  margin-top: 7%;
  padding: 7%;
}

.offerForYou-item-title {
  font-size: 45px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 255, 255);
  line-height: 58.59px;
}

.offerForYou-item-content {
  display: flex;
  flex-direction: row;
  padding: 3%;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: rgb(255, 255, 255);
  line-height: 29.3px;
}

.offerForYou-item-contentImg {
  width: 100%;
  max-width: 100%;
  padding: 3%;
}

.subscribe-item {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: url('./images/aboutUs_Newsletter.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.subscribe-item-title {
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 45px;
  font-weight: bold;
  line-height: 58.59px;
  width: 28%;
  padding-left: 4.5%;
}

.subscribe-item-content {
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: bold;
  line-height: 58.59px;
  display: flex;
  flex-direction: row;
  padding-right: 4.5%;
}

.form__item {
  margin-right: 1%;
}

.form__input {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  color: rgba(171, 171, 171, 1);
  font-weight: bold;
  line-height: 23.44px;
  background-color: rgb(255, 255, 255);
  width: 250px;
  height: 50px;
  border-radius: 10px;
  border: none;
  padding-left: 5%;
}

.form__button {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 23.44px;
  background-color: rgb(39, 76, 91);
  width: 145px;
  height: 50px;
  border-radius: 10px;
  border: none;
}

.footer-item {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 5%;
  margin-bottom: 7%;
}

.logo {
  width: 30%;
}

.footer-item-title {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: rgba(39, 76, 91, 1);
  font-weight: bolder;
  line-height: 60px;
}

.footer-item-checklist {
  font-size: 15px;
  font-weight: bolder;
}

.footer-item-contact {
  text-align: right;
  font-size: 14px;
  font-family: 'Open Sans';
  font-weight: 400;
  color: rgba(82, 92, 96, 1);
  line-height: 29px;
}

.footer-item-logo {
  text-align: center;
  font-size: 14px;
  font-family: 'Open Sans';
  font-weight: 400;
  color: rgba(82, 92, 96, 1);
  line-height: 29px;
  width: 40%;
}

.footer-item-utilityPages {
  text-align: left;
  font-size: 14px;
  font-family: 'Open Sans';
  font-weight: 400;
  color: rgba(82, 92, 96, 1);
  line-height: 35px;
}

.footer-item-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8% 18% 0 18%;
}

.footer-item-icons img {
  width: 80%;
}

.end {
  padding: 1% 0;
  font-size: 14px;
  font-family: 'Open Sans';
  font-weight: 400;
  color: rgba(82, 92, 96, 1);
}