* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark-green: #274C5B;
    --med-green: #7EB693;
    --x-lt-green: #EFF6F1;
    --x-lt-gray: #FAFAFA;
    --orange: #FFA858;
    --gray-text-lt: #525C60;
}

body {
    background: #fff;
}

img {
    width: 100%;
}

/* Navigation START */

a {
    text-decoration: none;
    color: var(--dark-green);
}

nav {
    width: 100vw;
    height: 10vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', 'Open Sans';
    color: var(--dark-green);
}

.left-section img {
    height: 30px;
}

.mid-section ul {
    display: flex;
}

.right-section,
.right-section .cart {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    font-size: 12px;
    margin-right: 20px;
    font-weight: bolder;
}

.search-bar {
    position: relative;
}

.search-bar input {
    background-color: var(--x-lt-gray);
    border: none;
    padding: 14px;
    border-radius: 20px;
    position: relative;
    width: 300px;
}

.search-bar .btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    border: none;
    background-color: var(--med-green);
    border-radius: 50%;
    color: #fff;
    margin: 2px;
}

.cart {
    background-color: var(--x-lt-gray);
    margin-left: 10px;
    border: 1px solid lightgray;
    border-radius: 25px;
    padding-right: 10px;
}

.cart p {
    font-size: 12px;
    font-weight: 800;
    padding-left: 5px;
}

.cart .btn {
    padding: 12px;
    border: none;
    border-radius: 50%;
    color: #fff;
    background-color: var(--dark-green);
    margin: 2px;
}

/* Navigation END */

.container_hero {
    width: 100%;
    position: relative;
    font-family: 'Roboto';
    color: #274C5B;
    font-weight: 800;
    font-size: 22px;
}

.container_hero .slogan {
    text-align: left;
    position: absolute;
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-size: 22px;
    color: #68A47F;
    top: 22%;
    left: 15%;
    right: 50%;
}

.hero-text {
    text-align: left;
    position: absolute;
    top: 30%;
    left: 15%;
    right: 50%;
}


.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
}

.container_hero .button {
    position: absolute;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #EFD372;
    color: #274C5B;
    width: 145px;
    height: 50px;
    border-radius: 14px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease;
    top: 60%;
    left: 15%;
    right: 50%;
}

.button .vector {
    padding: 3%;
    width: 13%;
}

.container_offers {
    display: grid;
}

.natural {
    grid-column: 1/2;
    grid-row: 1/1;
    width: 70%;
    border-radius: 14px;
    margin: 10% 30% 50%;
}

.offer {
    grid-column: 2/3;
    grid-row: 1/1;
    width: 70%;
    border-radius: 14px;
    margin: 10% 3% 30%;
}

.container_offers .title {
    text-align: left;
    position: absolute;
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-size: 22px;
    color: white;
    margin: 130px 220px 40px;
}

.container_offers_text {
    text-align: left;
    position: absolute;
    font-family: 'Roboto';
    color: white;
    font-weight: 800;
    font-size: 27px;
    margin: 170px 220px 40px;
}

.container_offers .title2 {
    text-align: left;
    position: absolute;
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-size: 22px;
    color: #68A47F;
    margin: 130px 690px 40px;
}

.container_offers_text2 {
    text-align: left;
    position: absolute;
    font-family: 'Roboto';
    color: #274C5B;
    font-weight: 800;
    font-size: 27px;
    margin: 170px 690px;
}