* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark-green: #274C5B;
    --med-green: #7EB693;
    --x-lt-green: #EFF6F1;
    --x-lt-gray: #FAFAFA;
    --orange: #FFA858;
    --gray-text-lt: #525C60;
}

body {
    background: #fff;
}

img {
    width: 100%;
}

/* Navigation START */

a {
    text-decoration: none;
    color: var(--dark-green);
}

nav {
    width: 100vw;
    height: 10vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', 'Open Sans';
    color: var(--dark-green);
}

.left-section img {
    height: 30px;
}

.mid-section ul {
    display: flex;
}

.right-section,
.right-section .cart {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    font-size: 12px;
    margin-right: 20px;
    font-weight: bolder;
}

.search-bar {
    position: relative;
}

.search-bar input {
    background-color: var(--x-lt-gray);
    border: none;
    padding: 14px;
    border-radius: 20px;
    position: relative;
    width: 300px;
}

.search-bar .btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    border: none;
    background-color: var(--med-green);
    border-radius: 50%;
    color: #fff;
    margin: 2px;
}

.cart {
    background-color: var(--x-lt-gray);
    margin-left: 10px;
    border: 1px solid lightgray;
    border-radius: 25px;
    padding-right: 10px;
}

.cart p {
    font-size: 12px;
    font-weight: 800;
    padding-left: 5px;
}

.cart .btn {
    padding: 12px;
    border: none;
    border-radius: 50%;
    color: #fff;
    background-color: var(--dark-green);
    margin: 2px;
}

/* Navigation END */

.container_hero {
    width: 100%;
    position: relative;
    font-family: 'Roboto';
    color: #274C5B;
    font-weight: 800;
    font-size: 22px;
}

.container_hero .slogan {
    text-align: left;
    position: absolute;
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-size: 22px;
    color: #68A47F;
    top: 22%;
    left: 15%;
    right: 50%;
}

.hero-text {
    text-align: left;
    position: absolute;
    top: 30%;
    left: 15%;
    right: 50%;
}


.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
}

.container_hero .button {
    position: absolute;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #EFD372;
    color: #274C5B;
    width: 145px;
    height: 50px;
    border-radius: 14px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease;
    top: 60%;
    left: 15%;
    right: 50%;
}

.button .vector {
    padding: 3%;
    width: 13%;
}

/* offers */

.container_offers {
    position: relative;
    display: flex;
    flex-direction: row;
}

.container_offers .pic1 {
    width: 35%;
    position: relative;
    border-radius: 14px;
    margin: 100px 10px 110px 170px;
}

.pic1 img {
    border-radius: 14px;
}

.container_offers .pic2 {
    width: 35%;
    position: relative;
    border-radius: 14px;
    margin: 100px 130px 110px 20px;
}

.pic2 img {
    border-radius: 14px;
}

.pic1 h1 {
    position: absolute;
    top: 30%;
    left: 7%;
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
}

.pic1 p {
    position: absolute;
    top: 45%;
    left: 7%;
    font-family: 'Roboto';
    color: #FFFFFF;
    font-weight: 800;
    font-size: 27px;
}

.pic2 h1 {
    position: absolute;
    top: 30%;
    left: 7%;
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-size: 22px;
    color: #68A47F;
}

.pic2 p {
    position: absolute;
    top: 45%;
    left: 7%;
    font-family: 'Roboto';
    color: #274C5B;
    font-weight: 800;
    font-size: 27px;
}

/* about section */

.container_about {
    display: flex;
    flex-direction: row;
    background-color: #F9F8F8;
    margin-top: 5px;
    margin-bottom: 5px;
}

.fruits_pic {
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 90%;
}

.about_text {
    position: relative;
    text-align: left;
    width: 100%;
    margin-top: 110px;
}

.container_about h1 {
    color: #274C5B;
    font-family: Roboto;
    padding-top: 10px;
}

.container_about p {
    color: #7EB693;
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-size: 22px;
}

.about_items {
    font-family: "Open Sans";
    color: #525C60;
    padding-top: 10px;
    padding-right: 160px;
    font-size: 13px;
}

/* standarts section */

.standarts {
    display: flex;
    flex-direction: column;
    position: relative;
}

.organic_food {
    display: flex;
    flex-direction: row;

}

.standarts .vegan_food {
    background-color: white;
    width: 10%;
    padding: 15px;
    border-radius: 9px;
    margin-top: 20px;
}

.icon_ellipse1 {
    width: 10%;
    background-color: #FFF4CD;
    border-radius: 50%;
    opacity: 50%;
}

.first_text {
    margin-top: 35px;
    margin-left: 10px;
    width: 50%;
}

.first_text h1 {
    color: #274C5B;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 700;
}

.first_text p {
    color: #525C60;
    font-family: Roboto;
    font-size: 13px;
}

.standarts_items {
    background-color: white;
    width: 10%;
    padding: 15px;
    border-radius: 9px;
    margin-top: 20px;
}

.quality_standarts {
    display: flex;
    flex-direction: row;
}

.icon_ellipse2 {
    width: 10%;
    background-color: #FFF4CD;
    border-radius: 50%;
    opacity: 50%;
}

.second_text {
    margin-top: 35px;
    margin-left: 10px;
    width: 50%;
}

.second_text h1 {
    color: #274C5B;
    font-family: Roboto;
    font-size: 17px;
    font-weight: bold;
}

.second_text p {
    color: #525C60;
    font-family: Roboto;
    font-size: 13px;
}

.buttonShop {
    display: flex;
    flex-direction: row;
    position: absolute;
}

.buttonShop .button {
    display: flex;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #274C5B;
    color: #FFFFFF;
    width: 145px;
    height: 50px;
    border-radius: 14px;
    border: none;
    align-items: center;
    justify-content: center;
    transition: all 500ms ease;
    top: 60%;
    left: 15%;
    right: 50%;
}

.button .vector {
    padding: 2%;
    width: 16%;
}

/* items */

.categories-title {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 100px;
}

.categories-title p {
    position: absolute;
    color: #7EB693;
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-size: 22px;
}

.categories-title h1 {
    position: absolute;
    margin: 30px;
    color: #274C5B;
    font-family: Roboto;
    padding-top: 10px;
}

.items-container {
    font-family: 'Roboto', 'Open Sans';
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}

.item {
    width: 20%;
    height: 350px;
    margin: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--x-lt-gray);
    border-radius: 10px;
}

.item .details {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.item img {
    height: 100%;
    margin: 10px 5px 10px 5px;

}

.item .tag {
    position: absolute;
    background-color: var(--dark-green);
    color: #fff;
    padding: 6px 10px 6px 10px;
    border-radius: 5px;
    font-size: 10px;
    margin: 5px;
}

.item hr {
    background-color: rgb(226, 222, 222);
    margin: 0 10px 0 10px;
}

.item p {
    font-size: 12px;
}

.details p {
    font-size: 14px;
    font-weight: bolder;
    margin: 10px;
    color: var(--dark-green);
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price span {
    font-size: 9px;
    color: var(--gray-text-lt);
    margin-right: 5px;
    text-decoration: line-through;
}

.price p {
    color: var(--dark-green);
    font-weight: 600;
}

.price img {
    width: 40%;
    height: auto;
}

/* button */

.buttonLoad {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.buttonLoad .button {
    display: flex;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #274C5B;
    color: #FFFFFF;
    width: 145px;
    height: 50px;
    border-radius: 14px;
    border: none;
    align-items: center;
    justify-content: center;
    transition: all 500ms ease;
    top: 60%;
    left: 15%;
    right: 50%;
}

.button .vector {
    padding: 2%;
    width: 16%;
}

/* testimonial section */

.container-testimonial {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    font-family: 'Roboto';
    color: #274C5B;
    font-weight: 800;
    font-size: 22px;
    margin-top: 120px;
}

.container-testimonial .left {
    width: 400px;
    ;
}

.container-testimonial .right {
    width: 400px;
}


.center {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
    margin-top: 100px;
}

.center p {
    color: #7EB693;
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-size: 22px;
}

.center h1 {
    color: #274C5B;
    font-family: Roboto;
    font-size: 26px;
    font-weight: bolder;
    margin-top: 10px;
}

.center .pic1 {
    border-radius: 50%;
    width: 10%;
    margin-top: 20px;
}

.center .pic2 {
    width: 10%;
    height: auto;
    margin-top: 10px;
}

.center hr {
    color: black;
    /* color: #E0E0E0; */
    margin: 0 10px 0 10px;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details p {
    font-family: "Open Sans";
    color: #525C60;
    font-size: 12px;
    text-align: center;

}

.details h1 {
    color: #274C5B;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 700;
}

.statistic {
    display: flex;
    flex-direction: row;
    color: #274C5B;
}

.statistic .info {
    border-radius: 50%;
    background-color: #F1F1F1;
    width: 100%;
}

.statistic h1 {
    font-family: Roboto;
    font-size: 16px;
}

.statistic p {
    font-family: Open Sans;
    font-size: 8px;
}