* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark-green: #274C5B;
    --med-green: #7EB693;
    --x-light-green: #EFF6F1;
    --orange: #FFA858;
    --gray-text: #525C60;
}