* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark-green: #274C5B;
    --med-green: #7EB693;
    --x-lt-green: #EFF6F1;
    --x-lt-gray: #FAFAFA;
    --orange: #FFA858;
    --gray-text-lt: #525C60;
}

body {
    background: #fff;
}

/* Navigation START */

a {
    text-decoration: none;
    color: var(--dark-green);
}

nav {
    width: 100vw;
    height: 10vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', 'Open Sans';
    color: var(--dark-green);
}

.left-section img {
    height: 30px;
}

.mid-section ul {
    display: flex;
}

.right-section,
.right-section .cart {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    font-size: 12px;
    margin-right: 20px;
    font-weight: bolder;
}

.search-bar {
    position: relative;
}

.search-bar input {
    background-color: var(--x-lt-gray);
    border: none;
    padding: 14px;
    border-radius: 20px;
    position: relative;
    width: 300px;
}

.search-bar .btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    border: none;
    background-color: var(--med-green);
    border-radius: 50%;
    color: #fff;
    margin: 2px;
}

.cart {
    background-color: var(--x-lt-gray);
    margin-left: 10px;
    border: 1px solid lightgray;
    border-radius: 25px;
    padding-right: 10px;
}

.cart p {
    font-size: 12px;
    font-weight: 800;
    padding-left: 5px;
}

.cart .btn {
    padding: 12px;
    border: none;
    border-radius: 50%;
    color: #fff;
    background-color: var(--dark-green);
    margin: 2px;
}

/* Navigation END */

.hero {
    width: 100vw;
    position: relative;
    font-family: 'Roboto';
    color: var(--dark-green);
    font-weight: 800;
    font-size: 40px;
}

.hero-text {
    position: absolute;
    top: 45%;
    left: 45%;
}